/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #FF8C1A;
    --second-color: #820AD1;
    --third-color: #0000FF;
    --white-color: #FFF;
    --alternative-color: #EBDBC8;
}

body {
  background-color: whitesmoke;

}

section {
  padding: 50px 10%;
}
*::selection {
  color: var(--white-color);
  background: var(--main-color);
}
img {
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
}
.navbar a:hover {
  color: var(--second-color);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.inicio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 1rem;
}
.inicio-texto {
  flex: 1 1 17rem;
}
.inicio-img {
  flex: 1 1 17rem;
}
.inicio-img img {
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.inicio-texto span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--second-color);
}
.inicio-texto h1 {
  font-size: 3.2rem;
  color: var(--main-color);
  font-weight: bolder;
}
.inicio-texto h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--second-color);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}
.heading span {
  font-size: 1rem;
  font-weight: 700;
  color: var(--second-color);
}
.heading h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

.cursos-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth; 
  scrollbar-width: none;
  cursor: grab;
}

.cursos-container::-webkit-scrollbar {
  display: none;
}

.curso-card {
  flex: 0 0 auto; 
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 300px; 
  scroll-snap-align: start;
}

.curso-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.curso-conteudo {
  padding: 0px 10px 10px 10px;
}

.curso-conteudo-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
}

.curso-descricao {
  font-size: 15px;
  font-weight: 300;
}

.curso-btn {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  width: 100%;
  height: 32px;
  border-radius: 2px;
  transition: 0.4s
}

.curso-btn:hover {
  background-color: var( --second-color);
}

.cursos-container::-webkit-scrollbar {
  height: 8px; 
}

.cursos-container::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 4px;
}

.sobre-nos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sobre-nos-container {
  display: flex;
  justify-content: space-between;
}

.side-image-sobre-nos {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 500px;
  height: 550px;
  cursor: pointer;
  transition: 0.4s;
}

.side-image-sobre-nos:hover {
  box-shadow: rgba(255, 140, 26, 0.5) 0px 3px 8px;
}

.sobre-nos-textos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 450px;
}

.depoimentos {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-between;
}

.image-card-depoimento {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.card-depoimento {
  display: flex;
  flex-direction: column;
  padding: 1%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  width: 270px;
  height:130px;
  cursor: pointer;
}

.nome-depoimento {
  font-weight: 600;
  font-size: 17.5px;
}

.texto-depoimento {
  font-weight: 500;
  padding: 1%;
  font-style: italic;
  font-size: 14.5px;
  color: rgb(75, 75, 75);
  margin-bottom: 35px;
}

.card-depoimento:hover {
  background-color: var(--main-color);
  transition: 1.0s ease, transform 1.0s ease;
}

.card-depoimento:hover .nome-depoimento,
.card-depoimento:hover .texto-depoimento {
  color: white;
}

footer {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background: var(--white-color);
  padding: 60px 10%;
}

.footer-col {
  width: 25%;
}

.footer-col>h4 {
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-color);
  text-transform: capitalize;
}

.footer-col>h4:hover {
  cursor:default;
}

.footer-col>h4::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background: var(--third-color);
  height: 2px;
  width: 40px;
}

.footer-col>ul>li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-col>ul>li>a {
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: var(--main-color);
  text-decoration: none;
  transition: 0.4s;
}

.footer-col> ul> li> a:hover {
  color: #820AD1;
  padding-left: 2px;
}

.footer-links>ul> a {
  display: inline-block;
  height: 44px;
  width: 44px;
  color: var(--white-color);
  background: var(--main-color);
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.footer-links>ul>a:hover {
  color: var(--main-color);
  background: #FFF;
}

.footer-col> p {
  color: #202020;
  margin-top: 50px;
  text-align: start;
}
@media(max-width: 740px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
  }

  .footer-col h4::before{
      all: unset;
  }

  .footer-col ul li a {
    color: var(--second-color);
  }
}

@media(max-width: 555px){
  .footer-col{
      width: 100%;
  }
}


@media (max-width: 1150px) {
  header {
    padding: 18px 7%;
  }
  section {
    padding: 50px 7%;
  }
  .inicio-text h1 {
    font-size: 3rem;
  }
  .inicio-text h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }
  .inicio-texto span {
    font-size: 0.9rem;
  }
  .inicio-texto h1 {
    font-size: 2.4rem;
  }
  .inicio-texto h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .inicio-text {
    padding-top: inherit;
  }
  .cursos-container .box {
    margin-top: 6rem;
  }
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading span {
    font-size: 0.9rem;
  }
  .about {
    flex-direction: column-reverse;
  }
}
@media (max-width: 364px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}


.btn {
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
}

.btn:hover {
  color: #FFF;
  background: var(--second-color);
}
.btn2 {
  padding: 7px 16px;
  border: 2px solid var(--third-color);
  border-radius: 40px;
  color: var(--third-color);
  font-weight: 500;
}

.btn2:hover {
  color: #FFF;
  background: var(--third-color);
}

.btn3 {
  padding: 7px 16px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  color: var(--main-color);
  font-weight: 500;
}

.btn3:hover {
  color: #FFF;
  background: var(--main-color);
}

.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color:  var(--main-color); 
  color: white;
  border: none;
  border-radius: 100%;
  padding: 12px;
  width: 50px;
  height: 50px;
  cursor: pointer; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  font-size: 18px; 
  transition: background-color 0.3s, box-shadow 0.3s;
}
